google-api-core==2.5.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.2
google-cloud-translate==3.7.1
google-pasta 
googleapis-common-protos==1.54.0
googletrans==3.1.0a0
ibm-cloud-sdk-core==3.14.0
ibm-watson==5.3.1
cutlet==0.1.19
Django==4.0.3
djangorestframework==3.13.1
SpeechRecognition==3.8.1
pytesseract==0.3.9
Pillow==9.0.1
numpy 
pandas 
seaborn
matplotlib
urllib3 
json5 
jsonschema 
fugashi==1.1.2
unidic-lite