absl-py==1.0.0
aiohttp
aiosignal
albumentations
anyio
argon2-cffi
argon2-cffi-bindings
asgiref==3.5.0
astor==0.8.1
astunparse==1.6.3
async-generator
async-timeout
attrs
awscli==1.22.68
Babel
backcall
backports.zoneinfo==0.2.1
bleach
blinker==1.4
botocore==1.24.13
brotlipy==0.7.0
cachetools==5.0.0
certifi==2021.10.8
cffi
chardet==3.0.4
charset-normalizer
click==8.0.4
cloudpickle
colorama==0.4.3
cryptography
cutlet==0.1.19
cycler
cytoolz==0.11.0
dask
debugpy
decorator
defusedxml
dill==0.3.4
distlib==0.3.4
Django==4.0.2
djangorestframework==3.13.1
dm-tree==0.1.6
docutils==0.15.2
emoji==1.6.3
entrypoints==0.3
filelock==3.6.0
flatbuffers
fonttools==4.29.1
frozenlist
fsspec
fugashi==1.1.2
gast==0.5.3
gensim
google-api-core==2.5.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.2
google-cloud-translate==3.7.1
google-pasta
googleapis-common-protos==1.54.0
googletrans==3.1.0a0
grpcio==1.44.0
grpcio-status==1.44.0
gTTS==2.2.3
h11==0.9.0
h2==3.2.0
h5py
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
ibm-cloud-sdk-core==3.14.0
ibm-watson==5.3.1
idna==2.10
imageio
imgaug
importlib-metadata
ipykernel
ipython
ipython-genutils
jaconv==0.3
jedi
Jinja2
jmespath==0.10.0
joblib==1.1.0
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterthemes==0.20.0
keras==2.8.0
Keras-Preprocessing
kiwisolver==1.3.2
labelImg==1.8.6
lesscpy
libclang==13.0.0
locket==0.2.0
lxml==4.8.0
Markdown==3.3.6
MarkupSafe
matplotlib
matplotlib-inline
mistune==0.8.4
mkl-fft
mkl-random
mkl-service==2.4.0
mojimoji==0.0.12
multidict
multiprocess==0.70.12.2
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx==2.6.3
nltk==3.7
notebook
numpy
oauthlib==3.2.0
olefile
opencv-python==4.5.5.62
opencv-python-headless==4.5.5.62
opt-einsum
packaging
pandas==1.4.1
pandocfilters
parso
partd
pathos==0.2.8
pexpect
pickleshare
Pillow==9.0.1
platformdirs==2.5.1
ply==3.11
pox==0.3.0
ppft==1.6.6.4
prometheus-client
prompt-toolkit
proto-plus==1.20.3
protobuf==3.19.4
ptyprocess
pyasn1
pyasn1-modules==0.2.8
pycparser
pydot==1.4.2
pydotplus==2.0.2
pygame==2.1.2
Pygments
PyJWT==2.3.0
pyOpenSSL
pyparsing
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyrsistent
PySocks
pytesseract==0.3.9
python-dateutil
pytorch-ranger==0.1.1
pytz==2021.3
PyWavelets==1.2.0
PyYAML==5.4.1
pyzmq
qudida==0.0.4
regex==2022.1.18
requests
requests-oauthlib==1.3.1
rfc3986==1.5.0
rsa
s3transfer==0.5.2
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Send2Trash
Shapely
six
smart-open==5.2.1
sniffio
SpeechRecognition==3.8.1
sqlparse==0.4.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-estimator
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-probability==0.16.0
termcolor==1.1.0
terminado
terminaltables==3.1.10
testpath
text2emotion==0.0.5
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2022.2.9
toolz
torch==1.10.2
torch-optimizer==0.3.0
torch-yolo3==0.1.1
torchaudio==0.10.2
torchvision==0.11.3
tornado
tqdm==4.62.3
traitlets
typing-extensions
unidic-lite==1.0.8
urllib3
virtualenv==20.13.2
wcwidth
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.0.3
wrapt
xmltodict==0.12.0
yarl
yolov4==3.2.0
zipp