Django
numpy                                        
pandas
matplotlib
keras
tensorflow
scikit-learn 
pygame
scikit-learn
opencv-python
cutlet
unidic-lite
text2emotion   
websockets
gTTS
google-cloud-translate   
pydotplus 
albumentations
Pillow
opencv-python 
yolov3